<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhoneService" />
                <binding name="BasicHttpBinding_ISaleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58189/PhoneService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPhoneService" contract="PhoneServiceReference.IPhoneService"
                name="BasicHttpBinding_IPhoneService" />
            <endpoint address="http://localhost:58189/SaleService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISaleService" contract="SaleServiceReference.ISaleService"
                name="BasicHttpBinding_ISaleService" />
        </client>
    </system.serviceModel>
</configuration>